Chess/chess.exe
Chess/chess.exe.dSYM/Contents/Resources/DWARF/chess.exe
Chess/macchess.exe
Chess/chess.exe.dSYM/Contents/Info.plist
Chess/chess.exe.dSYM/Contents/Resources/Relocations/aarch64/chess.exe.yml
